<div>
  <div class="wine-region">
    <nz-card nzHoverable class="wine-region-card" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Bordeaux" nzDescription="Bordeaux wine map">
      </nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <a href="http://www.sunjiangong.com" target="_blank">
        <img
          alt="bordeaux"
          src="../../../assets/images/bordeaux.jpg"
          width="100%"
        />
      </a>
    </ng-template>
  </div>
  <div class="wine-region">
    <nz-card nzHoverable class="wine-region-card" [nzCover]="coverTemplate2">
      <nz-card-meta nzTitle="Bourgogne" nzDescription="Bourgogne wine map">
      </nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate2>
      <a href="http://www.sunjiangong.com" target="_blank">
        <img
          alt="bourgogne"
          src="../../../assets/images/bourgogne.png"
          width="100%"
        />
      </a>
    </ng-template>
  </div>
  <div class="wine-region">
    <nz-card nzHoverable class="wine-region-card" [nzCover]="coverTemplate3">
      <nz-card-meta nzTitle="Rhone" nzDescription="Rhone wine map">
      </nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate3>
      <a href="http://www.sunjiangong.com" target="_blank">
        <img
          alt="rhone"
          src="../../../assets/images/rhone1.png"
          width="100%"
        />
      </a>
    </ng-template>
  </div>
</div>
