/SignalrDotnetCoreApi/SignalrDotnetCoreApi/.vs/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi/bin/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi/obj/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi.Common/bin/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi.Common/obj/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi.Database/bin/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi.Database/obj/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi.Repository/bin/
/SignalrDotnetCoreApi/SignalrDotnetCoreApi/SignalrDotnetCoreApi.Repository/obj
